.image-logo {
    width: 80%;
    height: 48px;
    object-fit: contain;
}

.icon-header{
    font-size: 24px;
    transform: translateY(20%);
    padding:4px 8px;
}

.icon-header:hover {
    background-color: #ac1d1a;
    border-radius: 5px;
    cursor: pointer;
}

