/* Common */
.spacing {
    height: 40px;
}
/*  */
.image-logo {
    width: 80%;
    height: 48px;
    object-fit: contain;
}

.icon-header{
    font-size: 24px;
    transform: translateY(20%);
    padding:4px 8px;
}

.icon-header:hover {
    background-color: #ac1d1a;
    border-radius: 5px;
    cursor: pointer;
}

.navbar-content{
    background-color: #ee2624;
    line-height: normal;
}

.navbar-content a {
    color: #fff;
    min-width: 180px;
    padding-left: 12px !important;
    padding-right: 12px !important;
    font-size: 18px;
}

.nav-underline .nav-link.active, .nav-underline .show>.nav-link {
    color: #fff !important;
}

.cate-image {
    width: 60px !important;
    margin: auto;
}

.ad-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: top;
    border-radius: 12px;
}

.product-thumb {
    
}

.product-thumb img {
    height: 450px !important;
    object-fit: cover;
}

.product-list {
    position: relative;
    width: fit-content;
    margin: auto;
}

.product-list .prev {
    position: absolute;
    left: 0;
    top: 50%;
    cursor: pointer;
}

.product-list .next {
    position: absolute;
    right: 0;
    top: 50%;
    cursor: pointer;
}

.product-list-detail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
}

.selected {
    background-color: #ee2624;
}

.price-detail {
    line-height: normal;
    color: #ee2624;
    font-weight: 700;
    font-size: 24px;
}

.title-detail h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 2.2;
}

.selectedBtn {
    border: #ee2624 solid 1px;
}

.property {
    margin: 8px 4px;
}